<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!-- Enable URL Rewrite Module -->
    <rewrite>
      <rules>
        <!-- Rule to redirect HTTP to HTTPS -->
        <rule name="Force HTTPS" enabled="true">
          <match url="(.*)" ignoreCase="false" />
          <conditions>
            <add input="{HTTPS}" pattern="off" />
            <add input="{HTTP_HOST}" pattern="localhost" negate="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>
        
        <!-- Rule for clean URLs -->
        <rule name="Clean URLs" stopProcessing="true">
          <match url="^([^/]+)/?$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php?page={R:1}" />
        </rule>
      </rules>
    </rewrite>

    <!-- Default document settings -->
    <defaultDocument>
      <files>
        <clear />
        <add value="index.php" />
        <add value="default.htm" />
        <add value="index.html" />
      </files>
    </defaultDocument>

    <!-- Error pages -->
    <httpErrors errorMode="Custom">
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="/404.php" responseMode="ExecuteURL" />
    </httpErrors>

    <!-- Security headers -->
    <httpProtocol>
      <customHeaders>
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-XSS-Protection" value="1; mode=block" />
      </customHeaders>
    </httpProtocol>

    <!-- Compress static content -->
    <urlCompression doDynamicCompression="true" doStaticCompression="true" />
    
    <!-- Set up proper MIME types -->
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".woff" mimeType="font/woff" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>
  </system.webServer>
  
  <!-- PHP settings -->
  <system.web>
    <customErrors mode="Off" />
  </system.web>
</configuration> 